.markdown-section h2:before {
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    background: #e4e4e4;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.docsify-copy-code-button {
    background: #ccc;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    outline: 0;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    transition: all .25s ease;
    opacity: 0
}

.docsify-copy-code-button::after {
    content: "Copied!";
    position: absolute;
    right: 100%;
    top: 0;
    background: #ccc;
    color: #fff;
    padding: 5px;
    margin: 5px 10px 0;
    font-size: 11px;
    z-index: 0;
    transition: all .25s ease;
    transform: translateX(120%) scale(0);
    border-radius: 3px
}

.docsify-copy-code-button.success::after {
    transform: translateX(0) scale(1)
}

pre[v-pre]:hover .docsify-copy-code-button {
    opacity: 1
}

.tool-docs-header {
    position: absolute;
    top: 50px;
    right: 0
}

.tool-docs-header iframe {
    border: 0 !important;
}

@media screen and (max-width: 768px) {
    .tool-docs-header {
        top: 78px;
    }
}

.tool-tip {
    display: inline-block;
    position: relative
}

.tool-tip::after {
    background-color: #323a45;
    border-radius: 2px;
    color: #fff;
    content: attr(data-tooltip-title) " ";
    font-weight: normal;
    min-width: 106px;
    padding: 4px 6px;
    text-align: center;
    text-transform: none
}

.tool-tip::before {
    width: 0;
    height: 0;
    content: ""
}

.tool-tip::before, .tool-tip::after {
    position: absolute;
    transition: opacity 250ms ease 0ms, transform 250ms ease 0ms;
    transform-style: preserve-3d;
    opacity: 0;
    z-index: -1
}

.tool-tip[data-tooltip-position="top"]::after {
    left: 50%
}

.tool-tip[data-tooltip-position="top"]::after {
    transform: translate3d(-50%, 10px, 0)
}

.tool-tip[data-tooltip-position="top"]::after {
    bottom: calc(100% + 10px)
}

.tool-tip[data-tooltip-position="top"]::before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    left: 50%
}

.tool-tip[data-tooltip-position="top"]::before {
    transform: translate3d(-50%, 10px, 0)
}

.tool-tip[data-tooltip-position="top"]::before {
    border-top: 7px solid #323a45;
    bottom: calc(100% + 3px)
}

.tool-tip:hover::before, .tool-tip:hover::after {
    opacity: 1;
    z-index: 100
}

.tool-tip[data-tooltip-position="top"]:hover::before, .tool-tip[data-tooltip-position="bottom"]:hover::before, .tool-tip[data-tooltip-position="top"]:hover::after, .tool-tip[data-tooltip-position="bottom"]:hover::after {
    transform: translate3d(-50%, 0, 0)
}

.markdown-section iframe.icon-frame {
    border: 0;
    width: 100%;
    min-height: 500px;
}
.icon-link {
    float: right;
    font-size: 14px;
    padding-top: 12px;
}
/*角标*/
.md-badge {
    display:inline-block;
    font-size:12px;
    height:16px;
    line-height:16px;
    border-radius:3px;
    padding:0 4px;
    color:#ffffff;
    margin:0 5px 0 0;
    background-color:#42b983;
    font-style: normal;
    transform: scale(0.92, 0.92);
}
.md-badge-middle {
    vertical-align:middle
}
.md-badge-top {
    vertical-align:top
}
.md-badge-green,
.md-badge-tip {
    background-color:#42b983
}
.md-badge-error {
    background-color:#da5961
}
.md-badge-red {
    background-color:#ff0000
}
.md-badge-new {
    background-color:#73C33B;
}
.md-badge-warn,
.md-badge-warning,
.md-badge-yellow {
    background-color:#e7c000
}